html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    place-content: center;
    padding: .1rem;
    background-color: #343041;
}

header {
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: white;
}

#closeLink {
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    font-weight: 600;
    padding: 0;
    color: darkred;
    background-color: red;
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: 1px 1px 1px #000000;
}

#closeLink:hover {
    color: #ffffff;
}

#closeLink:active {
    color: red;
    background-color: darkred;
    box-shadow: none;
}

h1 {
    font-size: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0.5rem;
}

table caption {
    font-size: 1.5em;
    margin-bottom: .5rem;
}

table caption input {
    text-align: right; /* This puts our digits on th right.*/
    height: 4rem;
}

th, td {
    padding: .2rem;
    text-align: center;
}

td input {
    background-image: linear-gradient(#ffffff, #343041);
    border-color: #ffffff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

#add,
#subtract,
#multiply,
#divide,
#equals {
    background-image: linear-gradient(#ffffff, #8C953E);
}

input {
    width: 96%;
    height: auto;
    font-size: 2rem;
    padding: .2rem;
}

footer {
    text-align: center;
    width: 100%;
    font-size: .6rem;
    padding: 1rem;
    color: white;
}